/* @tailwind utilities; */

/* @layer utilities { */
  @keyframes move1 {
    0% { transform: translate(-10%, -10%) scale(0.9); }
    50% { transform: translate(10%, 20%) scale(1); }
    100% { transform: translate(-10%, -10%) scale(0.9); }
  }

  @keyframes move2 {
    0% { transform: translate(20%, 30%) scale(1); }
    50% { transform: translate(-15%, -20%) scale(0.8); }
    100% { transform: translate(20%, 30%) scale(1); }
  }

  .animate-move1 {
    animation: move1 20s ease-in-out infinite alternate;
  }

  .animate-move2 {
    animation: move2 25s ease-in-out infinite alternate;
  }
/* } */
